  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<!--     <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
 -->
    <title>#TRENZI - Governo Renzi Monitor</title>

    <!-- Bootstrap core CSS -->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Docs master nav -->

    <div class="loading">
      <i class="glyphicon glyphicon-cog rotating"></i> Loading.. I criceti stanno lavorando, aspetta un attimo.
    </div>

    <!-- Page content of course! -->
    <main class="bs-docs-masthead" id="content" role="main">
  

  <div class="cover container" style="height:30%;">

    <h1>#TRENZI</h1>

  </div>
</main>

  <div class="main-container container-fluid">
    <div class="container">
      <h2>Monitorare il tweettare sul Governo del Fare</h2>
      <p class="lead">#trenzi è un Social Media Monitor sul Governo di Matteo Renzi (<a href="https://twitter.com/matteorenzi">@matteorenzi</a>) con <span style="color:yellow;">Smart Buzz Sentiment Analisys&#x2122;</span>.</p>

    
  {{> box }}
  

<h2>Testimonial</h2>

<div class="testimonial row">
        <div class="col-sm-4">
          <i class="glyphicon glyphicon-stats"></i>
          <h2>Data Analisys</h2>
          <p>Grazie, a #trenzi e a #openfuffa finalmente ho capito cosa sono gli #opendata .. e io che <span class="highlight">pensavo bastasse mettere una fotocopia su internet in pdf</span> per fare l' Open Data !.<br><span class="author">Politico Ingenuo</span></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <i class="glyphicon glyphicon-flash"></i>
          <h2>Realtime</h2>
          <p>Durante il mio lavoro a "Testata Quotidiana" spesso perdevo molto tempo tra comunicati dei politici e Social, ma <span class="highlight">grazie a #trenzi ho più tempo per fare le inchieste scomode</span>.<br> <span class="author">Giornalista Sul Pezzo</span></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <i class="glyphicon glyphicon-comment"></i>
          <h2>Sentiment</h2>
          <p>Quando arrivi al millesimo tweet giornaliero si fa fatica a trovare nuovi argomenti. #trenzi è uno <span class="highlight">strumento incredibile per avere i trend dei nuovi buzz</span> sui social.<br><span class="author">Social Media Marketer" presso "Azienda Leader</span></p>
        </div><!-- /.col-lg-4 -->
      </div>

    </div>
</div> <!-- container-fluid -->

<div class="bs-docs-featurette">
  <div class="container">
    
    {{> tweetList }}

  </div>
</div>


    <!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">

    <p class="small">Concept, Design and Code by <a href="http://grigio.org">Luigi Maselli</a>, Made in Torino, Italy with <i class="glyphicon glyphicon-heart"></i> and <a href="http://meteor.com">Meteor</a></p>

  </div>
</footer>

  </body>